<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkuu8KIVtYnOssiy96FLoez_DTI9CrecU</string>
	<key>GCM_SENDER_ID</key>
	<string>52708482035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emresimsek.AirbnbClone</string>
	<key>PROJECT_ID</key>
	<string>airbnbcloneswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnbcloneswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52708482035:ios:d450126643c00f1c4c5086</string>
</dict>
</plist>